<h2>Welcome <%= current_user.email %></h2>
<ul>
  <% @products.each do |product| %>
    <li class=whole-prod>
      <span class=prod-name><%= product.name %></span> - only
      <%= number_to_currency(product.price/100.0) %> -
      <%= link_to('Purchase', ) %>
      <br />
      <%= product.description %>
    </li>
  <% end %>
</ul>
<h3><%= link_to('View cart', ) %> / <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></h3>
